hr#total {
      border-top: 1px dashed #f00;
      border-bottom: 1px solid #f00;
      color: #fff;
      background-color: #fff;
      height: 4px;
      margin: 0 30px 0 0;
      width: 300px;
 }

 label {
 	font-size: 30px;
 	color: blue;
 }

#parent{
    width: 500px;
}
#child1{
    float: left;
    width: 40%;
}
#child2{
    float: right;
    width: 38%;
}
select{
    margin-bottom: 3px;
}

