hr#total {
      border-top: 1px dashed #f00;
      border-bottom: 1px solid #f00;
      color: #fff;
      background-color: #fff;
      height: 4px;
      margin: 0 30px 0 0;
      width: 405px;
 }
 label {
 	font-size: 30px;
 	color: blue;
 }
#parent{
    width: 500px;
}
#child1{
    float: left;
    width: 40%;
}
#child2{
    float: right;
    width: 38%;
}
select#qtdBacon{
    top: 234px;
}
select#qtdHamburguer{
    top: 255px;
}
select#qtdOvo{
    top: 276px;
}
select#qtdQueijo{
    top: 297px;
}
select{
	margin: 0 30px 3px 0;
    position: fixed;
	left: 318px;
}
button{
	margin-top: 15px;
    margin-bottom: 15px;
}

